<nav>
	<ul class="text-white text-right leading-tight text-xs sm:text-sm">
		<li><a routerLink="../all" routerLinkActive="active-nav" class="hover:bg-supreme-red">all</a></li>
		<li><a routerLink="../jackets" routerLinkActive="active-nav" class="hover:bg-supreme-red">jackets</a></li>
		<li><a routerLink="../shirts" routerLinkActive="active-nav" class="hover:bg-supreme-red">shirts</a></li>
		<li><a routerLink="../tops-sweaters" routerLinkActive="active-nav" class="hover:bg-supreme-red">tops/sweaters</a></li>
		<li><a routerLink="../sweatshirts" routerLinkActive="active-nav" class="hover:bg-supreme-red">sweatshirts</a></li>
		<li><a routerLink="../pants" routerLinkActive="active-nav" class="hover:bg-supreme-red">pants</a></li>
		<li><a routerLink="../shorts" routerLinkActive="active-nav" class="hover:bg-supreme-red">shorts</a></li>
		<li><a routerLink="../t-shirts" routerLinkActive="active-nav" class="hover:bg-supreme-red">t-shirts</a></li>
		<li><a routerLink="../hats" routerLinkActive="active-nav" class="hover:bg-supreme-red">hats</a></li>
		<li><a routerLink="../bags" routerLinkActive="active-nav" class="hover:bg-supreme-red">bags</a></li>
		<li><a routerLink="../accessories" routerLinkActive="active-nav" class="hover:bg-supreme-red">accessories</a></li>
		<li><a routerLink="../shoes" routerLinkActive="active-nav" class="hover:bg-supreme-red">shoes</a></li>
		<li><a routerLink="../skate" routerLinkActive="active-nav" class="hover:bg-supreme-red">skate</a></li>
	</ul>
</nav>
