<nav>
	<ul class="text-white text-right leading-tight text-sm ">
		<li><a routerLink="../all" class="hover:bg-supreme-red">all</a></li>
		<li><a routerLink="../jackets" class="hover:bg-supreme-red">jackets</a></li>
		<li><a routerLink="../shirts" class="hover:bg-supreme-red">shirts</a></li>
		<li><a routerLink="../tops-sweaters" class="hover:bg-supreme-red">tops/sweaters</a></li>
		<li><a routerLink="../sweatshirts" class="hover:bg-supreme-red">sweatshirts</a></li>
		<li><a routerLink="../pants" class="hover:bg-supreme-red">pants</a></li>
		<li><a routerLink="../shorts" class="hover:bg-supreme-red">shorts</a></li>
		<li><a routerLink="../t-shirts" class="hover:bg-supreme-red">t-shirts</a></li>
		<li><a routerLink="../hats" class="hover:bg-supreme-red">hats</a></li>
		<li><a routerLink="../bags" class="hover:bg-supreme-red">bags</a></li>
		<li><a routerLink="../accesories" class="hover:bg-supreme-red">accesories</a></li>
		<li><a routerLink="../shoes" class="hover:bg-supreme-red">shoes</a></li>
		<li><a routerLink="../skate" class="hover:bg-supreme-red">skate</a></li>
	</ul>
</nav>
