<nav>
	<ul class="flex flex-col items-center text-white gap-1">
		<li class="cursor-pointer w-fit hover:bg-supreme-red">
			<a href="/previews/springsummer2023">spring/summer 2023 preview</a>
		</li>
		<li class="cursor-pointer w-fit hover:bg-supreme-red">
			<a href="/previews/fallwinter2023">fall/winter 2023 preview</a>
		</li>
		<li class="cursor-pointer w-fit hover:bg-supreme-red">
			<a href="/random">random</a>
		</li>
		<li class="cursor-pointer w-fit hover:bg-supreme-red">
			<a href="/about">about</a>
		</li>
		<li class="cursor-pointer w-fit hover:bg-supreme-red">
			<a href="/stores">stores</a>
		</li>
	</ul>
</nav>
