<nav
	class="flex flex-col gap-10 text-[13px] text-white justify-center items-center leading-none"
>
	<div class="flex gap-12 sm:w-[95%] max-w-2xl justify-between">
		<ul class="grid grid-rows-2 grid-cols-2 sm:flex gap-x-24 gap-y-4 sm:gap-4 items-center">
			<li class="cursor-pointer flex leading-none hover:bg-supreme-red">
				<a routerLink="/">home</a>
			</li>
			<div class="hidden sm:block relative group">
				<li class="cursor-pointer hover:bg-supreme-red">
					<a routerLink="/previews/{{ inSpringSummer ? 'springsummer2023' : 'fallwinter2023' }}">
						{{ inSpringSummer ? "spring/summer" : "fall/winter" }} 2023 preview</a
					>
				</li>
				<li
					class="invisible absolute pt-2 whitespace-nowrap cursor-pointer w-fit group-hover:visible"
				>
					<a
						routerLink="/previews/{{ inSpringSummer ? 'fallwinter2023' : 'springsummer2023' }}"
						class="text-white hover:bg-supreme-red"
						>{{ inSpringSummer ? "fall/winter" : "spring/summer" }} 2023 preview</a
					>
				</li>
			</div>
			<li
				*ngIf="!inPreview"
				class="hidden sm:flex cursor-pointer w-fit hover:bg-supreme-red"
			>
				<a routerLink="/lookbook">lookbook</a>
			</li>
			<li class="cursor-pointer w-fit hover:bg-supreme-red">
				<a routerLink="/">random</a>
			</li>
			<li class="cursor-pointer w-fit hover:bg-supreme-red">
				<a routerLink="/about">about</a>
			</li>
			<li class="cursor-pointer w-fit hover:bg-supreme-red">
				<a routerLink="/stores">stores</a>
			</li>
		</ul>
		<ul *ngIf="inPreview" class="hidden sm:flex gap-4">
			<li class="cursor-pointer w-fit hover:bg-supreme-red">
				<a routerLink="/previews/springsummer2023/all">view all</a>
			</li>
			<li
				class="cursor-pointer text-supreme-red hover:bg-supreme-red hover:text-white"
			>
				<a routerLink="/lookbook">*lookbook</a>
			</li>
		</ul>
	</div>
	<app-subfooter class="contents" />
</nav>
