<footer class="hidden sm:flex sm:w-[calc(95%+10px)] max-w-[688px] justify-end">
    <ul class="hidden sm:flex gap-4">
        <li class="cursor-pointer w-fit hover:bg-supreme-red">
            <a href="/">terms</a>
        </li>
        <li class="cursor-pointer w-fit hover:bg-supreme-red">
            <a href="/">privacy</a>
        </li>
        <li class="cursor-pointer w-fit hover:bg-supreme-red">
            <a href="/">f.a.q.</a>
        </li>
        <li class="cursor-pointer w-fit hover:bg-supreme-red">
            <a href="/">accesibility</a>
        </li>
    </ul>
</footer>