@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Courier New', Courier, monospace;
}

*.scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}
*.scrollbar::-webkit-scrollbar {
    background-color: #D6D7D7;
    width: 10px;
}
*.scrollbar::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
}
*.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #898989;
}
*.active-nav {
    font-weight: 700;
}